<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISoapService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52032/Service.svc/duplex"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplexService"
                contract="ServiceRef.IDuplexService" name="WSDualHttpBinding_IDuplexService">
                <identity>
                    <userPrincipalName value="DESKTOP-GN7VTDN\stav bodik" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52032/Service.svc/soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISoapService" contract="ServiceRef.ISoapService"
                name="BasicHttpBinding_ISoapService" />
        </client>
    </system.serviceModel>
</configuration>